.fab.fa-github{
  font-size: 3em;
  color: aliceblue;


}


.services .content .servicesBx
{
  padding: 20px 20px;
  background: #201549;
  color: #fff;
  max-width: 440px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.services .content .servicesBx:hover
{
  background: #201549;
}
.services .content .servicesBx img
{
  max-width: 180px;
}
.services .content .servicesBx h2
{
  font-size: 120px;
  font-weight: 600;
}
.icon .fa{
color: #fff;
}